
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista3</title>
</head>
<body>
    <div>
        <h1>Vista 3</h1>
        @Html.Partial("_Buscar")
    </div>
</body>
</html>
